.services{
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: black;
    background-color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.services-container{
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: black;
    background-color: white;
    flex-wrap: wrap;
}

.services-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #4632DA;
}
  
.services-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    color: #333333;
}

.services-cards{
    display: flex;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: black;
    background-color: white;
    gap: 2rem;
    flex-wrap: wrap;
}

.services-cards-links{
    text-decoration: none;
    color: inherit;
}

.service-card{
    display: flex;
    flex-direction: column;   /* IMPORTANT: stacks section1 + section2 vertically */
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    height: auto;
    border: #333333 1px solid;
    transition: transform 0.2s;
    width: 20rem;
    min-height: 17rem;
}



/* SECTION 1 → ROW */
.service-card-section1{
    display: flex;
    flex-direction: row;  
    align-items: center;
    width: 100%;
}

.service-cards-img{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

/* SECTION 2 → COLUMN */
.service-card-section2{
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column; 
    width: 100%;
}


.service-card-title {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    color: black;
}


.service-card-description{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: black;
}

.learn-more{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
    .services{
        padding-top: 6rem;
    }
}

@media (max-width: 660px) {
    .services{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .service-card{
        width: 100%;
        min-height: 7rem;
        max-height: 14rem;
    }
}