@import "tailwindcss";

:root {
  --color-veryLightBlue: #ECF6FE;
  --color-buttonBlue: #4632DA;
  --color-linearBar:  #c0eaff;
  --color-ImgOverlay: #538ED2;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}